


.about-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .history-section {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
  }
  

  .values-section {
    padding: 20px;